.mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mat-card-header {
    text-align: center;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Optional: Adjust margin as needed */
}

.mat-select{
    align-items: center;
    text-align: center;
}

